<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>MEAN Social App by Jeff D</title>
    </head>
    <body ng-app='app'>
        <div ng-controller='PostsCTRL' class="container">
            <h1>Recent Posts</h1>
            <form role="form">
                <div class="form-group">
                    <div class="input-group">
                        <input ng-model="postBody" class="form-control">
                        <span class="input-group-btn">
                            <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
                        </span>        
                    </div>
                </div>
            </form>
            
            <ul class='list-group'>
                <li  ng-repeat='post in posts' class='list-group-item'>
                    <strong>{{post.username}}</strong>
                    <span>{{post.body}}</span>
                </li>
            </ul>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script>
        //create app module
        var app = angular.module('app', [])

        //create PostsCTRL module
        //dependency inject $scope
        app.controller('PostsCTRL', function($scope, $http){
            
            //function when "Add Post" button is clicked
            // $scope.addPost = function(){
            //     //only add a post if there is a body
            //     if($scope.postBody){
            //         //unshift new post into $scope.posts
            //         $scope.posts.unshift({
            //         username: 'dickeyxxx',
            //         body: $scope.postBody //text entered
            //         })
            //         //clearing input field
            //         $scope.postBody = null
            //     }
            // }

            $scope.addPost = function(){
                if($scope.postBody){
                    $http({
                        method: 'POST',
                        url: 'http://localhost:3000/api/posts',
                        data: {
                            username: 'dickeyxxx',
                            body: $scope.postBody
                        }
                    })
                    .then(function(post){
                        $scope.posts.unshift(post)
                        $scope.postBody = null
                    });    
                }
            }

            //starting data
            /*
            $scope.posts = [
                {
                    username: 'dickeyxxx',
                    body: 'Node rules!'
                },
                {
                    username: 'jeffdicky',
                    body: 'trying out angular.js'
                }
            ]
            */
            /*
            $http.get('http://localhost:3000/api/posts')
            .success(function(posts) {
                $scope.posts = posts
            })
            */

            $http({
                method: 'GET',
                url: 'http://localhost:3000/api/posts'
            }).then(function successCallback(posts){
                $scope.posts = posts
                console.log("http get working")
                console.log(posts)
            });
        })
        </script>
    </body>
</html>